flask
flask-cors
python-dotenv
requests
google-generativeai
razorpay
comet_ml
pollinations
chutes
ollama
bytez
wikipedia
nasa
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
tavily-python
replicate
klingai
veo
emoji
google-sheets-api
stability-sdk
freepik-sdk
clipdrop
picsart
logokit
logodev
ollama-python
deepai_api
newsapi-python
yfinance
nasa-python
wikipedia-api
google-search-results
python-dateutil
cryptography
Pillow
gspread
oauth2client
